footer {
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #ffff;
  color: #333;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.contenu-footer {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 50px 0 100px;
  white-space: nowrap;
  overflow-x: auto; 
}

.bloc {
  flex: 0 0 auto;
  margin: 0 30px;
  max-width: 25%; 
}

.footer-services h3,
.footer-informations h3,
.footer-contact h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.footer-contact p {
  padding: 5px 0;
}

.liste-services,
.liste-information {
  list-style-type: none;
}

.liste-services li {
  padding: 2px 0;
}

.liste-services a {
  text-decoration: none;
  color: #333;
}

.liste-services a:hover {
  color: rgb(3, 3, 3);
}
