main {
    background-color: rgb(29, 3, 16);
    color: aliceblue;
    width: 80%;
    margin: 0px auto;
    margin-top: 35px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 20px violet;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-form {
    display: flex;
    margin: 7px 10px;
}

.item-form label{
    flex-basis: 175px;
    padding: 5px;
}

.item-form input {
    flex: 1;
    padding: 5px;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

form button {
    border-radius: 7px;
    font-size: 1.5;
    font-weight: 600;
    padding: 10px;
    color: rgb(44, 3, 83);
    transition: 1s;
}

form button:hover {
    border-radius: 7px;
    font-size: 1.5;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(122, 201, 224);
    color: rgb(5, 85, 5);
    transition: 1s;
}

a {
    text-decoration: none;
}