/*Nav*/
nav {
    background-color: rgb(72, 170, 231);
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
}

/*Navegador Entero*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/*Todos los li del navegador*/
nav li {
    padding: 10px;
}

/*Todos los anclas del navegador*/
nav a {
    text-decoration: none;
    width: 10px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(44, 3, 83);
    transition: 1s;
}

/*Cuando pasas con el coursor encima de un elemento ancla*/
nav a:hover {
    background-color: rgb(48, 153, 185);
    color: rgb(5, 85, 5);
    transition: 1s;
}

#menu-iniciar-sesion{
    width: 15%;
}

#menu-desplegable{
    width: 15%;
    display: none;
}

/*Todo el contenedor -> todas las listas -> Todos los elementos -> submenú*/
nav ul li ul{
    position: absolute;
    margin-top: 15px;
    width: 300px;
    background-color: lightskyblue;
    display: none;
}

#menu-desplegable ul li a {
    padding: 10px;
    margin-bottom: 0;
}

nav ul li:hover ul{
    display: block;
}
/*Fin Nav*/